#forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.forecast-day {
    text-align: center;
    flex: 1;
    margin: 0 5px;
}

.forecast-day img {
    width: 50px;
    height: 50px;
}
